modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_stripe:1.0.0", "javascript_websocket:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37221
externalPort = 3002

[[ports]]
localPort = 39037
externalPort = 3001

[[ports]]
localPort = 39689
externalPort = 4200

[[ports]]
localPort = 40989
externalPort = 3003

[[ports]]
localPort = 43071
externalPort = 3000

[userenv]

[userenv.shared]
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyAsHBpAcIyvNmlqWc3doKdULcFESilZ41Q"
AWS_REGION = "us-east-1"
TESTING_VITE_STRIPE_PUBLIC_KEY = "pk_test_51ROx1EQL1f05fzIg2s7gZoQhEFZisrHd9Zs0VVhLPWjW6ipdmp2rSp6FUGDwwXY568ZIzL7k2IvCAn1HjJEfmKKd00xB1DRwiH"
TESTING_STRIPE_SECRET_KEY = "sk_test_51ROx1EQL1f05fzIgDTHCFhsgLgTbFFCyy8itBSP1GzFFuLl0svONIN203v46ZdRbsvOesxvXPuJG7XyjckEMpM9q003536EZG6"
